replicaCount: 1
image:
  repository: ghcr.io/wrpearsonuva/fasta
  pullPolicy: Always
  tag: 0.1.0
imagePullSecrets:
  - name: "ghcr-regcred"
nameOverride: ""
fullnameOverride: ""
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 2
    memory: 4Gi
  requests:
    cpu: 1
    memory: 2Gi
nodeSelector: {}
tolerations: []
affinity: {}
